<div class="container">
  <div class="inpWrapper">

    <input [ngModel]="inpElem.value" (ngModelChange)="changeInp(inpElem)"
           [ngStyle]="{backgroundColor: disabled ? 'rgba(182, 167, 167, 0.67)' : 'rgb(180, 189, 222,0.5)'}"
           #inpElem placeholder="Введіть завдання">

    <button [ngClass]="disabled ? 'button' : 'hideButton' "
            (click)="getValue(inpElem)">{{disabled ? 'Додати' : 'Не додати'}}
    </button>

  </div>

  <app-todoItem *ngFor="let item of todos" [todo]="item" [todos]="todos " (itemDel)="delItem($event)"></app-todoItem>

</div>
