.container {
  margin: 30px auto;
  width: 50%;
  text-align: center;
}

.inpWrapper {
  height: 40px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;

}

input {
  padding: 0 10px;
  border-radius: 10px;
  background-color: rgba(182, 167, 167, 0.67);
  width: 70%;
}

button {
  transition: ease-in-out 0.4s;
  width: 20%;
  border-radius: 10px;
  background-color: #4265bd;
  border: darkgray 2px solid;
}

button:hover {
  background-color: #6c9e7d;
  cursor: pointer;
}

.hideButton {
  background-color: #72cacb;
}
