.items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #6c9e7d;
  border-radius: 10px;
  height: 50px;
  max-width: 100%;
  font-size: 24px;
  color: black;
  margin-bottom: 10px;
  padding: 0 20px;
  transition: ease-in-out 0.3s;
}

.items:hover {
  background-color: darkgray;
}

.img {
  width: 25px;
  height: 25px;
  cursor: pointer;
}
